<html>

<head>
    <title>
        <%= locals.title%>
    </title>
    <link rel="stylesheet" href="/css/home.css">
    <script type="text/javascript" src="/js/home.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="outer_box">
        <div id="myDIV" class="header">
            <h2 style="margin:9px">My To Do List</h2>
        </div>
        <form action="/create-list" method="POST" class="flex_container">
            <div class="nav-bar" id="desc">
                <input type="text" name="description" placeholder="What do you need to do" required>
            </div>
            <div class="nav-bar" id="category">
                <label for="Select">SELECT Category</label>
                <select id="category" name="category" placeholder="Enter category" required>
                            <option value="Personal Work">Personal Work</option>
                            <option value="Work">Work</option>
                            <option value="School">School</option>
                            <option value="Cleaning">Cleaning</option>
                            <option value="Other">Other</option>
                        </select>
            </div>
            <div class="nav-bar" id="date">
                <label for="Due_date">Due date:</label>
                <input type="date" id="due_date" name="due_date" maxlength="8">
            </div>
            <div class="nav-bar" id="submit_prop">
                <button type="submit" class="addBtn">Add Task</button>
            </div>
        </form>
        <div>
            <ul>
                <div class="contact">
                    <div class="button">
                        Task specification
                    </div>
                    <div class="button">
                        Category
                    </div>
                    <div class="button">
                        Deadline
                    </div>
                    <div class="button red">
                        Delete task
                    </div>
                </div>
            </ul>
        </div>
        <div>
            <ul>
                <% for (let i of todo_list) { %>
                    <div class="contact">
                        <div class="button">
                            <%= i.description %>
                        </div>
                        <div class="button">
                            <%= i.category %>
                        </div>
                        <div class="button">
                            <%= i.due_date %>
                        </div>
                        <div>
                            <a href="/delete-contact/?id=<%= i._id %>">
                                <i class="fas fa-minus-circle" style="font-size:20px"></i>
                            </a>
                        </div>
                    </div>
                    <% } %>
            </ul>
        </div>
    </div>


    <script type="text/javascript" src="/js/home.js"></script>
</body>

</html>